<footer>
  <div class="full-width-container">
      <div class="container-newsletter">
          <h2 class="news">Subscribe Newsletter</h2>
          <div class="form-group mx-sm-3 mb-2  custom-style ">
              <label for="inputPassword2" class="sr-only"></label>
              <div class="input-group  ">
                  <input type="email" class="form-control" id="inputemail2" placeholder="Enter your Email address">
              </div>
          </div>
          <button class="btn-primary">Search</button>
      </div>
      <div class="rowdata">
          <div class="col-lg-2 col-md-4 col-sm-12 logodiv">
              <div class="logo">
                  <img src="../../assets/images//Logo_reboot.png" alt="logo">
              </div>
              <div class="paragraph">Unleash the limitless potential of your business with cutting-edge IT solutions
                  and boundless innovation.</div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 servicediv">
              <div class="div-heading">Services</div>
              <ul>
                  <li><a href="">Advertising Media</a></li>
                  <li><a href="">Web Design & Internet</a></li>
                  <li><a href="">Event Promotion</a></li>
                  <li><a href="">Public Relation</a></li>
                  <li><a href="">Digital Marketing</a></li>
              </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 contactdiv">
              <div class="div-heading">Contact</div>
              <ul>
                  <li><a href="">info@rebootcas.com</a></li>
                  <li><a href="">91+ 8983323893</a></li>
                  <li><a href="">Kothrud, Pune.</a></li>
              </ul>
              <div class="socialmedia">
                  <a href=""><img src="../../assets/images/social media icons/footer_social_media_icon_facebook.png"
                          alt="footer_social_media_icon_twitter"></a>
                  <a href=""><img src="../../assets/images/social media icons/footer_social_media_icon_instagram.png"
                          alt="footer_social_media_icon_twitter"></a>
                  <a href=""><img src="../../assets/images/social media icons/footer_social_media_icon_Linkineed.png"
                          alt="footer_social_media_icon_twitter"></a>
                  <a href=""><img src="../../assets/images/social media icons/footer_social_media_icon_twitter.png"
                          alt="footer_social_media_icon_twitter"></a>
                  <a href=""><img src="../../assets/images/social media icons/footer_social_media_icon_youtube.png"
                          alt="footer_social_media_icon_twitter"></a>
              </div>
          </div>
      </div>
  <hr class="horizontalline">
  <div class="copyright">
      Copyright@2023
  </div>
</div>
</footer>