<div class="container-fluid full-width-container">
    <div class="container">
        <div class="text-container">
            <div class="main-text">
                Pune's Trusted Provider Of Quality Mindset <span class="highlight"> IT Services</span>
            </div>
            <div class="body-text">
                Experience the best-in-class IT services in Pune, where our Reboot team’s quality mindset ensure
                top-notch solutions and sustained excellence in service delivery
            </div>
            <div class="button-abt"><button>About Us</button></div>
        </div>
        <div class="image-container">
            <img src="../../assets/images/sec4img.jpg" alt="">
        </div>
    </div>
</div>