<div class="fourth-container">
    <div class="text-container">
        <div class="head">
            <p>Pune’s Trusted Provider Of Quality Mindset <span class="highlight"> IT Services</span></p>
        </div>
        <div class="para">
            <p>Experience the best-in-class IT services in Pune, where our Reboot team’s quality mindset ensure
                top-notch solutions and sustained excellence in service delivery </p>
        </div>
        <div class="button-abt"><button>About Us</button></div>
    </div>
    <div class="image-container">
        <img src="assets\images\home_fourth_page.png" alt="">
    </div>
</div>