.full-width-container {
    background-image: url('../../assets/images/service_01.png');
    background-size: cover;
    background-position: center;
    min-height: 848px;
    background-image: linear-gradient(#121212);
    overflow: auto;
    padding-bottom: 10px;
}

.container {
    color: white;
    padding-top: 218px;
    width: 1226px;
}
.insidediv
{
    width: 550px; height: 271px; background: rgba(49, 79, 93, 0.74); border-radius: 19px
}

#cardsmain
{
    padding: 0%;
}

.iconback
{
    width: 70px; height: 70px; background: rgba(0, 3.90, 10.82, 0.91); border-radius: 11px;
    margin-left: 17px;
    margin-top: 16px;
}

.headtext
{
    color: white; font-size: 20px;  font-weight: 700; line-height: 28px; word-wrap: break-word;margin-left: 22px;
}

.btndiv
{
    width: 153px; 
    height: 44px; 
    padding-left: 56px; 
    padding-right: 56px;
     padding-top: 16px; 
     padding-bottom: 16px; 
     border-radius: 56px; 
     border-left: 1px white solid; 
     border-top: 1px white solid; 
     border-right: 1px white solid; 
     border-bottom: 1px white solid;
     margin-left: 30%;
     margin-top: 9%;  
}
.btnname
{
    color: white;text-align: justify;
    margin-left: -20px;
    width: 80px;
    font-weight: 800;
    margin-top: -8px;
}

.subtext
{
    width: 392px; color: white; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word;
    text-align: justify;
    margin-left: 5%;
    
}

.main-text {

    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    border-left: 8px solid;
    height: 61px;
    padding-top: 16px;
    padding-left: 8px;
}

.sub-text {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.body-text {
    padding-top: 26px;
}

.list-elements {
    padding-top: 26px;
}

@media (max-width:770px) {
    .main-text {
        line-height: 48px;
        padding-top: 0px;
    }
}

@media (max-width:579px) {
    .container {
        padding-top: 100px;
        padding-left: 100px;
        width: 400px;
    }

    .main-text {
        line-height: 38px;
        border-left: 8px solid;
        height: 100px;
        padding-top: 0px;
    }
}

.cards {
    padding-top: 58px;
}

.card {
    background-color: transparent;
    height: 368px;
    width: 293px;
    
}

.card-item {
    margin-bottom: 50px;
    margin-right: 53px;
    
}

.card-img-overlay {
    width: 280px;
    height: 187px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -14;
    right: 0;
    z-index: 1;
}

.card-text {
    color: white;
    padding-left: 5px;
}

.card-main-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.card-sub-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 24.5px;
    justify-content: center;
}
.image-btn{
    margin-top: 4px;
}


.image-button {
    border: none;
    padding: 0;
    background: none;
    margin-top: 5px;

}


@media (max-width:418px) {
    .container {
        padding-top: 80px;
        padding-left: 80px;
        width: 350px;
    }

    .main-text {
        line-height: 38px;
        font-size: 28px;
        padding-top: 0px;
        border-left: 8px solid;
        height: 100px;
    }

    .sub-text {
        font-size: 20px;
    }
}

@media (max-width:1200) {
    
}

.card-main-text
{
    cursor: pointer;
}

.cardimg
{
    cursor: pointer;
}

.postcard:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}