<div class="container-fluid full-width-container">
    <div class="container">
        <div class="main-text">Services</div>
        <div class="sub-text">
            Join the ranks of businesses unlocking infinite possibilities
        </div>
        <div class="body-text">
            At Reboot Solutions, we understand the unique challenges businesses face in the ever-evolving digital
            landscape. With our experienced team and trusted advisors, we offer tailored and scalable IT services
            designed to cater to your specific needs. From comprehensive website development to strategic IT consulting,
            our expertise covers the entire spectrum of your technological requirements. We take pride in building
            strong connections with our clients, truly understanding their challenges and providing personalized
            solutions. With over 27+ annual subscribers trusting our services, we have established a reputation for
            excellence in the industry. Once you experience our exceptional service and technical expertise, you won't
            need to look elsewhere. Trust Reboot Solutions as your go-to partner for all your IT needs, and unlock your
            business's full potential with us.
            <div class="cards">
                <!-- <div class="row">
                    <div class="col-lg-4 mb-5 ">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card1.png" class="cardimg" alt="Overlay Image" width="280px" (click)="webdevsec()" >
                                <div class="card-text">
                                    <div class="card-main-text" (click)="webdevsec()">
                                        Web Development Sector
                                    </div>
                                    <div class="card-sub-text">
                                        Building bridges between your brand and your audience through innovative web
                                        development
                                    </div>
                                    <button class="image-button" (click)="webdevsec()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div> -->

                <div class="container" id="cardsmain">
                    <div class="row">
                      <div class="col-lg-6 mb-5">
                        <div class="card">
                            <div class="insidediv col-lg-12">
                                <div class="row" style="display: flex;
                                align-items: center;">
                                    <div class="col-lg-2">
                                        <div class="iconback"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="headtext">Web Development Sector</div>
                                    </div>
                                </div>
                                <div class="row" style="display: flex; align-items: center;">
                                    <div class="col-lg-8" style="margin: 0 auto; text-align: center;">
                                      <div class="subtext">Building bridges between your brand and your audience through innovative web development</div>
                                    </div>
                                    <div class="col-lg-8" style="">
                                        <div  class="btndiv"style="">
                                            <div class="btnname" style="">See more</div>
                                          </div> 
                                    </div>
                                  </div>
                                  
                                
                                
                            </div>

                        </div>
                      </div>
                      <div class="col-lg-6 mb-5">
                        <div class="card">
                            <div class="insidediv">
                            </div>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        1 of 3
                      </div>
                      <div class="col">
                        2 of 3
                      </div>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>