<div class="container-fluid full-width-container">
    <div class="container">
        <div class="main-text">Services</div>
        <div class="sub-text">
            Join the ranks of businesses unlocking infinite possibilities
        </div>
        <div class="body-text">
            At Reboot Solutions, we understand the unique challenges businesses face in the ever-evolving digital
            landscape. With our experienced team and trusted advisors, we offer tailored and scalable IT services
            designed to cater to your specific needs. From comprehensive website development to strategic IT consulting,
            our expertise covers the entire spectrum of your technological requirements. We take pride in building
            strong connections with our clients, truly understanding their challenges and providing personalized
            solutions. With over 27+ annual subscribers trusting our services, we have established a reputation for
            excellence in the industry. Once you experience our exceptional service and technical expertise, you won't
            need to look elsewhere. Trust Reboot Solutions as your go-to partner for all your IT needs, and unlock your
            business's full potential with us.
            <div class="cards">
                <div class="row">
                    <div class="col-lg-4 mb-5 ">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card1.png" class="cardimg" alt="Overlay Image" width="280px" (click)="webdevsec()" >
                                <div class="card-text">
                                    <div class="card-main-text" (click)="webdevsec()">
                                        Web Development Sector
                                    </div>
                                    <div class="card-sub-text">
                                        Building bridges between your brand and your audience through innovative web
                                        development
                                    </div>
                                    <button class="image-button" (click)="webdevsec()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card2.png" class="cardimg" alt="Overlay Image" width="280px" (click)="appdevsec()">
                                <div class="card-text">
                                    <div class="card-main-text" (click)="appdevsec()">
                                        Application Development
                                    </div>
                                    <div class="card-sub-text">
                                        Androids solution that create unforgettable experience for your users 
                                    </div>
                                    <button class="image-button" (click)="appdevsec()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  mb-5">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card3.png" class="cardimg" alt="Overlay Image" width="280px" (click)="graphdev()">
                                <div class="card-text">
                                    <div class="card-main-text" (click)="graphdev()">
                                        Graphics Designing
                                    </div>
                                    <div class="card-sub-text">
                                        “Design is the silent ambassador of your  brand” - Paul Rand
                                    </div>
                                    <button class="image-button" style="margin-top: 30px;" (click)="graphdev()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card4.png" class="cardimg" alt="Overlay Image" width="280px" (click)="softdevsec()">
                                <div class="card-text">
                                    <div class="card-main-text" (click)="softdevsec()">
                                        Software Development
                                    </div>
                                    <div class="card-sub-text">
                                        Crafting customer software's for your unique business needs
                                    </div>
                                    <button class="image-button" style="margin-top: 30px;" (click)="softdevsec()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card5.png" class="cardimg" alt="Overlay Image" width="280px" (click)="pcmaindev()">
                                <div class="card-text">
                                    <div class="card-main-text" (click)="pcmaindev()">
                                        PC Maintenances Sector
                                    </div>
                                    <div class="card-sub-text">
                                        Unlock the true potential of your system with professional maintenance service.
                                    </div>
                                    <button class="image-button" (click)="pcmaindev()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card">
                            <img src="../../assets/images/back.png" class="card-img-top" alt="Image 1">
                            <div class="card-img-overlay" style="margin: -11px;">
                                <img src="../../assets/images/card6.png" class="cardimg" alt="Overlay Image" width="280px" (click)="digitalmarket()">
                                <div class="card-text">
                                    <div class="card-main-text" (click)="digitalmarket()">
                                        Digital Marketing
                                    </div>
                                    <div class="card-sub-text">
                                        Elevate your business with a website that leaves a lasting impression
                                    </div>
                                    <button class="image-button" style="margin-top: 30px;" (click)="digitalmarket()">
                                        <img src="../../assets/images/btn.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>